.sidebar-main-min{
    padding-top: 10%;
    position: absolute;
    z-index: 100;
    width: 30px;
    height: 100%;
    box-shadow:0 0 10px rgb(23, 94, 150);
}

.sidebar-main-max{
    background-color: inherit;
    padding-top: 5%;
    position: absolute;
    z-index: 100;
    width: 14%;
    height: 95%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.image{
    width: 20px;
    height: 20px;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    opacity: .7;
    border-radius: 5px;
}

.image-max{
    width: 30px;
    height: 30px;
    margin-top: 0px;
    cursor: auto;
}

.side-position{
    color: black;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-size: larger;
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    margin-left: 10%;
    box-shadow:4px 4px 5px rgb(169, 222, 255);
}

.side-position:hover{
    box-shadow: 6px 6px 25px rgb(169, 222, 255);
}

.side-position-disabled{
    background-color: gray;
    opacity: 0.4;
    pointer-events: none;
}

.image-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3%;
}

.image-label{
    margin-top: 5px;
    display: flex;
    width: 60%;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-size: x-large;
}

@media screen and (max-width: 1200px) {
    label.image-label {
        font-size: medium;
    }
    label.side-position {
        font-size: medium;
    }
}

@media screen and (max-width: 800px) {
    label.image-label {
        display: none;
    }
}