.work-place{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 85%;
    overflow: visible;
    z-index: 5;
}


.work-place-enter-active,.work-place-leave-active {
    transition: all .3s;
}

.work-place-enter {
    opacity: .5;
    transform: translateX(50%);
}

.work-place-leave-to {
    opacity: .5;
    transform: translateX(-50%);
}