.mainSelectBoxFilter{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.selectInput{
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    min-height: 35px;
    font-size: 25px;
    color: dodgerblue;
    border-bottom: 2px groove dodgerblue;
}

.selectInput:focus{
    outline: none;
}