.topMenu{
    width: 85%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 0 0 #bfbfbf;
    display: flex;
    flex-direction: column;
}

.topItems{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.topSelect{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    color: #96a1a2;
    font-family: cursive;
    font-size: 3em;
    align-items: center;
    justify-content: center;
}

.topText{
    width: 1000px;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.labelAnimation-enter-active,.labelAnimation-leave-active {
    transition: all .5s;
}

.labelAnimation-enter {
    opacity: .5;
    transform: translateX(100%);
}

.labelAnimation-leave-to {
    opacity: .5;
    transform: translateX(-100%);
}