.mainChangeUser{
    margin-top: 10px;
    width: 70%;
    min-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.phoneBlock{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.phoneField{
    width: 70% !important;
    min-width: 250px;
}

.phoneButtons{
    display: flex;
    width: 30%;
    min-width: 150px;
}

.codeBlock{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.code-text{
    height: 50px !important;
    min-height: 50px !important;
    font-size: 20px !important;
    border: 2px groove dodgerblue !important;
}

.code-text:hover{
    border: 2px groove #70709f !important;
}

.check-phone{
    font-size: 17px !important;
    width: 30%;
    justify-content: space-evenly;
    align-self: flex-end;
    overflow-y: hidden;
}

.change-save{
    margin-top: 20px;
}

.block-save{
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
}

.code-label{

}