.footerCompany{
    width: 100%;
    min-height: 64px;
    max-height: 64px;
    display: flex;
}

.footerLeft {
    width: 50%;
    height: 64px;
    display: flex;
    align-items: center;
}

.footerRight {
    width: 50%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.left-button {
    width: 64px;
    height: 64px;
    border: none;
    cursor: pointer;
    background-color: white;
    background-image: url(../../assets/other/to_left-2.png);
    margin: 10px;
}

.left-button:hover{
    background-color: #cbe5ff;
    border-radius: 25px;
    box-shadow:0 0 30px #7bbfe9;
}

.right-button {
    width: 64px;
    height: 64px;
    border: none;
    cursor: pointer;
    background-color: white;
    background-image: url(../../assets/other/to_right-2.png);
    margin: 10px;
}

.right-button:disabled{
    opacity: .4;
}

.right-button:hover{
    background-color: #cbe5ff;
    border-radius: 25px;
    box-shadow:0 0 30px #7bbfe9;
}