.mainTable{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: auto;
}

.columnTable{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 55px;
    max-height: 100%;
}

.dataTable{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    min-height: 250px;
    max-height: 100%;
}

.buttonBar{
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
}

.tableAdd{
    width: 32px;
    height: 32px;
    min-height: 32px;
    border: none;
    background-color: transparent;
    margin: 10px;
    background-image: url("../../../src/assets/table/plus_32.png");
    cursor: pointer;
    outline:none;
}

.tableAdd:hover{
    border-radius: 30px;
    background-color: #d6efc5;
    box-shadow: 0 0 30px 2px #80cf4d;
}

.tableSave{
    width: 32px;
    height: 32px;
    min-height: 32px;
    border: none;
    background-color: transparent;
    margin: 10px;
    background-image: url("../../../src/assets/table/save.png");
    cursor: pointer;
    outline:none;
}

.tableSave:hover{
    border-radius: 5px;
    background-color: #c0e9ef;
    box-shadow: 0 0 30px 2px #81deec;
}

.errorDown{
    height: auto;
    color: #cd0e0e;
    box-shadow: 0px 0px 8px 4px #e98181;
}

.errorValue{

}

.dataAnimation-enter-active {
    transition: all 1s  ;
}

.dataAnimation-enter{
    opacity: .5;
    transform: translateY(30%);
}

.dataAnimation-leave-active {
    animation: shake 1.5s ;
}
@keyframes shake {
    10% {
        transform: translateX(-10%)
    }
    30% {
        transform: translateX(10%)
    }
    100% {
        transform: translateX(-100%);
    }
}