.topMenuLogin{
    font-family: cursive;
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 100%;
    max-height: 150px;
    box-shadow: 0 2px 0 0 #bfbfbf;
}

.photo{
    width: 50px;
    height: 50px;
    border-radius: 40px;
}

.exit-button {
    width: 42px;
    height: 42px;
    border: none;
    background-color: white;
    background-image: url(../../../assets/login/exit_min.png);
    margin: 10px;
}

.exit-button:hover{
    background-color: #ffcfcf;
    border-radius: 10px;
    box-shadow:0 0 30px rgb(252, 153, 165);
}

.exit-button:focus{
    outline: none;
}

.settings-button {
    width: 42px;
    height: 42px;
    border: none;
    background-color: white;
    background-image: url(../../../assets/login/settings_min.png);
    margin: 10px;
}

.settings-button:hover{
    background-color: #a7ffe7;
    border-radius: 10px;
    box-shadow:0 0 30px rgb(104, 255, 224);
}

.settings-button:focus{
    outline: none;
}

.loginButtons{
    display: flex;
    flex-direction: column;
}

.loginInfo {
    overflow: hidden;
}

.loginRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: cursive;
    align-items: center;
    justify-content: center;
}

.loginText{
    padding: 0;
    margin: 0;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}