.modalMask{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.errorWindow{
    display: flex;
    position: fixed;
    width: 50%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4c4f4f;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #3b3838 solid 1px;
    border-top: none;
    box-shadow: 4px 4px 20px #545454;
    border-radius: 25px;
}

.errorWindowBody{
    display: flex;
    width: 90%;
    height: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.errorWindowTopPanel{
    display: flex;
    width: 100%;
    height: 15%;
    background-color: #919494;
    flex-direction: row-reverse;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.errorWindowBottomPanel{
    display: flex;
    width: 100%;
    height: 15%;
    background-color: #919494;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #58ff96;
    border-radius: 50%;
    box-shadow: 0 0 10px #58ff96,
        0 0 20px #58ff96,
        0 0 40px #58ff96,
        0 0 60px #58ff96,
        0 0 80px #58ff96,
        0 0 100px #58ff96;
    animation: circleRun 2.0s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

.animation{
    width: 156px;
    height: 100px;
    animation: animationColor 10.0s linear infinite ;
}

@keyframes circleRun {
    0% {
        transform: scale(0);
    }
    80%,100% {
        transform: scale(1);
    }
}

@keyframes animationColor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.error-window-animation-enter-active {
    transition: opacity 6s;
}

.error-window-animation-enter-from {
    opacity: 1;
}

.error-window-animation-enter-to {
    opacity: 0.65;
}
