.mainSettings{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.menuSettings{
    display: flex;
    width: 20%;
    min-width: 150px;
    height: 100%;
    flex-direction: column;
}

.tableSettings{
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
}
