.mainSelectBox{
    width: 100%;
    height: 100%;
    border: 1px double #474646;
    cursor: pointer;
}

.selectMenu{
    width: 100%;
    height: 100%;
    display: flex;
}

.selectItems{
    width: 100%;
    height: 100%;
    display: flex;
}

.selectItem{
    display: flex;
    overflow-y: auto;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    justify-items: center;
    border-left: 2px double #474646;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #bfbfbf;
}

.selectItemValue{
    width: 100%;
}

.selectItemButton{
    max-width: 32px;
    min-width: 32px;
    height: 32px;
    background-image: url("../../assets/selectBox/close.png");
}

.showStoreButton{
    min-width: 32px;
    max-width: 32px;
    background-color: #a1b4c8;
    left: calc(100% - 32px);
    display: flex;
    justify-items: center;
    align-items: center;
    background-image: url("../../assets/selectBox/arrow_down.png");
    background-position: center;
    background-repeat:no-repeat;
}

.selectData{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.storeItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 98%;
}

.storeItem{
    width: 100%;
    min-height: 30px;
    max-height: 60px;
    margin-top: 10px;
    border: .5px double #6a6b6b;
    border-right: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 3px #a1b4c8;
    display: flex;
    background-color: white;
}

.storeItemValue{
    display: flex;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-content: center;
}

storeItem:hover{
    background-color: #aecfef;
}

.storeItemButton{
    min-width: 32px;
    max-width: 32px;
    background-color: #a1b4c8;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    background-image: url("../../assets/selectBox/plus.png");
    background-position: center;
    background-repeat:no-repeat;
}

.selectAnimation-enter-active{
    transition: all .5s;
}

.selectAnimation-leave-active {
    transition: all .2s;
}

.selectAnimation-enter{
    opacity: 0.3;
    transform: translateX(-100%);
}

.selectAnimation-leave-to {
    opacity: 0.3;
    transform: translateX(-1000%);
}

.storeAnimation-enter-active {
    transition: all .5s;
}

.storeAnimation-leave-active {
    transition: all .2s;
}

.storeAnimation-enter {
    opacity: 0.3;
    transform: translateX(-100%);
}

.storeAnimation-leave-to {
    opacity: 0.3;
    transform: translateX(-100%);
}
